vaderSentiment
pandas
numpy
scipy
spacy
python-levenshtein
jellyfish
networkx
segtok
elasticsearch
nltk
recordclass
unidecode
python-pcre
requests
Fabric
Flask
Flask-SQLAlchemy
gunicorn
ecdsa
itsdangerous
paramiko
pycrypto
